h1 {
  color: white;
  text-shadow: 3px 3px #47475a;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px #47475a;
  font-size: 16px;
}

h2 {
  color: white;
  text-shadow: 2px 2px #505064;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  color: #505064;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

.review-first-name {
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
}

.review-date {
  font-size: 13px;
  font-weight: 400;
  color: #1d1d23;
}

.review-username {
  color: #e1caf0;
  font-size: 11px;
}

@-webkit-keyframes border-round {
  0% {
    border-bottom: 2px solid white;
  }
  25% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
  }
  100% {
    border: 2px solid white;
  }
}

@keyframes border-round {
  0% {
    border-bottom: 2px solid white;
  }
  25% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
  }
  100% {
    border: 2px solid white;
  }
}

@-webkit-keyframes border-round-md {
  0% {
    border-bottom: 3px solid white;
  }
  25% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  50% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
  }
  100% {
    border: 3px solid white;
  }
}

@keyframes border-round-md {
  0% {
    border-bottom: 3px solid white;
  }
  25% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  50% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
  }
  100% {
    border: 3px solid white;
  }
}

@-webkit-keyframes border-round-lg {
  0% {
    border-bottom: 4px solid white;
  }
  25% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
  }
  50% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-top: 4px solid white;
  }
  100% {
    border: 4px solid white;
  }
}

@keyframes border-round-lg {
  0% {
    border-bottom: 4px solid white;
  }
  25% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
  }
  50% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-top: 4px solid white;
  }
  100% {
    border: 4px solid white;
  }
}

@-webkit-keyframes opacity-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movie-page .center-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.movie-page .center-panel .movie-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.movie-page .center-panel .movie-header .poster-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
}

@media (min-width: 576px) {
  .movie-page .center-panel .movie-header .poster-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.movie-page .center-panel .movie-header .header-info-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie-page .center-panel .movie-header .header-info-container .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.movie-page .center-panel .movie-header .header-info-container .header-top .title-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-page .center-panel .movie-header .header-info-container .header-top .title-rating .movie-title {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
  margin-right: auto;
}

.movie-page .center-panel .movie-header .header-info-container .header-top .quick-facts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie-page .center-panel .movie-header .header-info-container .header-bottom .genres-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.movie-page .center-panel .overview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.movie-page .center-panel .reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.movie-page .fact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.movie-page .fact-container .fact-prop {
  color: #505064;
  text-shadow: 1px 1px #000000;
}

.movie-page .fact-container .fact {
  color: white;
  font-weight: 500;
}
/*# sourceMappingURL=moviePage.css.map */