h1 {
  color: white;
  text-shadow: 3px 3px #47475a;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px #47475a;
  font-size: 16px;
}

h2 {
  color: white;
  text-shadow: 2px 2px #505064;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  color: #505064;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

.review-first-name {
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
}

.review-date {
  font-size: 13px;
  font-weight: 400;
  color: #1d1d23;
}

.review-username {
  color: #e1caf0;
  font-size: 11px;
}

h1 {
  color: white;
  text-shadow: 3px 3px #47475a;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px #47475a;
  font-size: 16px;
}

h2 {
  color: white;
  text-shadow: 2px 2px #505064;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  color: #505064;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

.review-first-name {
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
}

.review-date {
  font-size: 13px;
  font-weight: 400;
  color: #1d1d23;
}

.review-username {
  color: #e1caf0;
  font-size: 11px;
}

@-webkit-keyframes border-round {
  0% {
    border-bottom: 2px solid white;
  }
  25% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
  }
  100% {
    border: 2px solid white;
  }
}

@keyframes border-round {
  0% {
    border-bottom: 2px solid white;
  }
  25% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
  }
  100% {
    border: 2px solid white;
  }
}

@-webkit-keyframes border-round-md {
  0% {
    border-bottom: 3px solid white;
  }
  25% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  50% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
  }
  100% {
    border: 3px solid white;
  }
}

@keyframes border-round-md {
  0% {
    border-bottom: 3px solid white;
  }
  25% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  50% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
  }
  100% {
    border: 3px solid white;
  }
}

@-webkit-keyframes border-round-lg {
  0% {
    border-bottom: 4px solid white;
  }
  25% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
  }
  50% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-top: 4px solid white;
  }
  100% {
    border: 4px solid white;
  }
}

@keyframes border-round-lg {
  0% {
    border-bottom: 4px solid white;
  }
  25% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
  }
  50% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-top: 4px solid white;
  }
  100% {
    border: 4px solid white;
  }
}

@-webkit-keyframes opacity-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  color: white;
  text-shadow: 3px 3px #47475a;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px #47475a;
  font-size: 16px;
}

h2 {
  color: white;
  text-shadow: 2px 2px #505064;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  color: #505064;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

.review-first-name {
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
}

.review-date {
  font-size: 13px;
  font-weight: 400;
  color: #1d1d23;
}

.review-username {
  color: #e1caf0;
  font-size: 11px;
}

h1 {
  color: white;
  text-shadow: 3px 3px #47475a;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px #47475a;
  font-size: 16px;
}

h2 {
  color: white;
  text-shadow: 2px 2px #505064;
  font-size: 25px;
  font-weight: 500;
}

h3 {
  color: #505064;
  text-shadow: 2px 2px #000000;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

.review-first-name {
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-shadow: 2px 2px #000000;
}

.review-date {
  font-size: 13px;
  font-weight: 400;
  color: #1d1d23;
}

.review-username {
  color: #e1caf0;
  font-size: 11px;
}

@keyframes border-round {
  0% {
    border-bottom: 2px solid white;
  }
  25% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
  }
  100% {
    border: 2px solid white;
  }
}

@keyframes border-round-md {
  0% {
    border-bottom: 3px solid white;
  }
  25% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  50% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
  }
  100% {
    border: 3px solid white;
  }
}

@keyframes border-round-lg {
  0% {
    border-bottom: 4px solid white;
  }
  25% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
  }
  50% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-top: 4px solid white;
  }
  100% {
    border: 4px solid white;
  }
}

@keyframes opacity-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:focus {
  outline: none;
}

.container, .container-round, .container-round-xs, .container-round-sm, .container-round-md, .container-round-lg, .container-xs, .container-sm, .container-md, .container-lg {
  background: #505064;
  padding: 1rem;
}

.container-round, .container-round-xs, .container-round-sm, .container-round-md, .container-round-lg {
  border-radius: 10px;
}

.container-round-xs {
  padding: 0.25rem;
}

.container-round-sm {
  padding: 0.5rem;
}

.container-round-md {
  padding: 2rem;
}

.container-round-lg {
  padding: 4rem;
}

.container-xs {
  padding: 0.25rem;
}

.container-sm {
  padding: 0.5rem;
}

.container-md {
  padding: 2rem;
}

.container-lg {
  padding: 4rem;
}

.transparent {
  background: transparent;
}

.shadow {
  -webkit-box-shadow: 4px 4px 20px 4px #000000;
          box-shadow: 4px 4px 20px 4px #000000;
}

.logo {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 3px 3px #000000;
}

.logo .icon {
  color: #e1caf0;
  margin-right: 3px;
}

.logo .text {
  color: white;
}

.layout-3panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media (min-width: 768px) {
  .layout-3panel {
    -ms-grid-columns: 2fr 6fr 0fr;
        grid-template-columns: 2fr 6fr 0fr;
  }
}

@media (min-width: 992px) {
  .layout-3panel {
    -ms-grid-columns: 2fr 6fr 2fr;
        grid-template-columns: 2fr 6fr 2fr;
  }
}

.layout-3panel .left-panel {
  -ms-grid-column: 1;
  grid-column: 1;
}

.layout-3panel .center-panel {
  -ms-grid-column: 2;
  grid-column: 2;
}

.layout-3panel .right-panel {
  -ms-grid-column: 3;
  grid-column: 3;
}

.empty-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-none {
  display: none;
}

button.btn-large {
  background: #e1caf0;
  padding: 4px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  border: 3px solid transparent;
}

button.btn-large:active {
  background: #47475a;
}

button.btn-large .btn-text, button.btn-large:disabled .btn-text {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-shadow: 2px 2px #000000;
}

button.btn-large:enabled:hover {
  -webkit-box-shadow: 4px 4px #000000;
          box-shadow: 4px 4px #000000;
  -webkit-animation: border-round-md 1s forwards ease-in-out;
          animation: border-round-md 1s forwards ease-in-out;
  cursor: pointer;
}

button.btn-large:disabled {
  background: #47475a;
  border: 3px solid #1d1d23;
}

button.btn-large:disabled .btn-text {
  color: #1d1d23;
  text-shadow: none;
}

.animate-border {
  border: 2px solid transparent;
}

.animate-border:hover {
  -webkit-animation: border-round 0.75s forwards ease-in-out;
          animation: border-round 0.75s forwards ease-in-out;
}

.animate-border-md {
  border: 3px solid transparent;
}

.animate-border-md:hover {
  -webkit-animation: border-round-md 0.75s forwards ease-in-out;
          animation: border-round-md 0.75s forwards ease-in-out;
}

@keyframes border-round {
  0% {
    border-bottom: 2px solid white;
  }
  25% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-top: 2px solid white;
  }
  100% {
    border: 2px solid white;
  }
}

@keyframes border-round-md {
  0% {
    border-bottom: 3px solid white;
  }
  25% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
  50% {
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
  }
  100% {
    border: 3px solid white;
  }
}

@keyframes border-round-lg {
  0% {
    border-bottom: 4px solid white;
  }
  25% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
  }
  50% {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-top: 4px solid white;
  }
  100% {
    border: 4px solid white;
  }
}

@keyframes opacity-transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  background-color: #1d1d23;
  min-height: 100vh;
  min-width: 100%;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=index.css.map */